<div id="home" class="centerDiv">
    <div style="padding: 25px;">
        <span id="contentText"> Public housing may be a form of housing tenure in which the property is owned by a government authority, which may be central or local. 
            Social housing is an umbrella term referring to rental housing which may be owned and managed by the state, by non-profit organizations, 
            or by a combination of the two, usually with the aim of providing affordable housing. Social housing can also be seen as a potential remedy to housing inequality. 
            Some social housing organizations construct for purchase, particularly in Spain and to an extent elsewhere. </span>
    </div>
    <div class="buttonpanel">
        <button class="btn btn-secondary" ng-click="openForm()">Check Availablity</button>
    </div>
</div>